.body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app-wrapper {
  max-width: 545px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #f16767;
  color: #fdd36a;
}

.city {
  font-size: 25px;
  color: #f5eaea;
  font-weight: 100;
  line-height: 25px;
  font-weight: bolder;
  margin-bottom: 0;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  width: 70px;
  height: 65px;
}

.temperature {
  color: #f5eaea;
  font-weight: bold;
  line-height: 1;
  font-size: 55px;
}

.weather-temperature .units {
  position: relative;
  font-size: 14px;
  top: -28px;
}

.weather-temperature .active {
  text-decoration: none;
  font-weight: bolder;
  color: #fdd36a;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
  color: #fdd36a;
}

.weather-temperature .inactive {
  text-decoration: none;
  font-weight: bolder;
  color: #f5eaea;
  cursor: default;
}

.weather-temperature .inactive:hover {
  text-decoration: none;
  color: #f5eaea;
}

.btn {
  background-color: #f5eaea;
  color: #f16767;
  border-color: #f5eaea;
}

.btn:hover {
  color: #f5eaea;
  background-color: #a459d1;
  border-color: #a459d1;
}

ul {
  margin: 0%;
  padding: 0%;
  height: 50px;
}

li {
  list-style: none;
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
  text-transform: capitalize;
}

.weatherinfo {
  padding-left: 100px;
}
